/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: #D6E3E3;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

.navbar-header {
  margin-left: 50% !important;
  transform: translateX(-50%);
  font-weight: bold;
  .navbar-brand {
    color: #009688 !important;
  }
}

input {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}

/*custom css*/

// Courses global styles

.courses-list-group {
  padding-left: 0;
  margin-top: 5px;
}

.material-icons {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

md-card-title {
  cursor: pointer;
}

.vision-navbar {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.user-roles-table {
  .md-slide-toggle-container {
    margin: auto !important;
  }
}

//task-colors for students

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border-left: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.activeLink {
  background-color: #95a5a6;
}
