<md-card>
  <i class="material-icons task-form-clear pull-right" (click)="clearForm()">clear</i>
  <form role="taskForm" #addTaskForm="ngForm" (ngSubmit)="submitTask()" novalidate>
    <md-input required placeholder="Title" name="title" style="width: 100%" [(ngModel)]="taskClone.title"></md-input>
    <md-input type="datetime-local" placeholder="Deadline" name="deadline" style="width: 100%" [(ngModel)]="taskClone.deadline"></md-input>
    <md-input required placeholder="Description" name="description" style="width: 100%" [(ngModel)]="taskClone.description"></md-input>
    preview:
    <div class="well">
      <ca-markdown-viewer [mdText]="taskClone.description"></ca-markdown-viewer>
    </div>
    <md-slide-toggle name="published" [checked]="taskClone.published" [(ngModel)]="taskClone.published">
       Publish Task
    </md-slide-toggle>
    <div class="submit-button">
      <button md-mini-fab type="submit" class="task-form-submit pull-right" [disabled]="!addTaskForm.valid" color="primary"><md-icon>check</md-icon></button>
    </div>
  </form>
</md-card>
